<a href="https://colab.research.google.com/github/pginjupalli/Verizon-EnergyPriceForecasting/blob/main/Verizon_2_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Part 1: Understanding the Data**

Here, we will look at the dataset and note the features, their correlations with the label, whether or not there's missing data, and come up with ideas clearn and prepare the data for modeling.

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

with open('/content/drive/My Drive/BTT Verizon 2/electricity_prices.csv', 'r') as f:
  df = pd.read_csv(f)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,year,month,stateDescription,sectorName,customers,price,revenue,sales
0,2001,1,Wyoming,all sectors,NaN,4.31,48.12840,1116.17208
1,2001,1,Wyoming,commercial,NaN,5.13,12.67978,247.08691
2,2001,1,Wyoming,industrial,NaN,3.26,19.60858,602.30484
3,2001,1,Wyoming,other,NaN,4.75,0.76868,16.17442
4,2001,1,Wyoming,residential,NaN,6.01,15.07136,250.60591
5,2001,1,New England,all sectors,NaN,10.73,1139.89520,10622.88375
6,2001,1,South Carolina,other,NaN,6.57,5.28332,80.41336
7,2001,1,South Carolina,residential,NaN,7.36,225.81673,3066.25911
8,2001,1,South Dakota,all sectors,NaN,5.85,46.98518,803.24177
9,2001,1,South Dakota,commercial,NaN,5.95,15.92044,267.66283

In [ ]:
df.shape

(85870, 8)

In [ ]:
df.head(50)

,year,month,stateDescription,sectorName,customers,price,revenue,sales
0,2001,1,Wyoming,all sectors,NaN,4.31,48.12840,1116.17208
1,2001,1,Wyoming,commercial,NaN,5.13,12.67978,247.08691
2,2001,1,Wyoming,industrial,NaN,3.26,19.60858,602.30484
3,2001,1,Wyoming,other,NaN,4.75,0.76868,16.17442
4,2001,1,Wyoming,residential,NaN,6.01,15.07136,250.60591
5,2001,1,New England,all sectors,NaN,10.73,1139.89520,10622.88375
6,2001,1,South Carolina,other,NaN,6.57,5.28332,80.41336
7,2001,1,South Carolina,residential,NaN,7.36,225.81673,3066.25911
8,2001,1,South Dakota,all sectors,NaN,5.85,46.98518,803.24177
9,2001,1,South Dakota,commercial,NaN,5.95,15.92044,267.66283
10,2001,1,South Dakota,industrial,NaN,4.31,5.16366,119.68236
11,2001,1,South Dakota,other,NaN,3.47,1.38114,39.74549
12,2001,1,South Dakota,residential,NaN,6.52,24.51994,376.15108
13,2001,1,Tennessee,all sectors,NaN,5.59,539.11548,9648.54559
14,2001,1,Tennessee,commercial,NaN,6.16,122.55831,1990.33357
15,2001,1,Tennessee,industrial,NaN,4.29,125.91353,2937.15583
16,2001,1,Tennessee,other,NaN,8.51,7.81728,91.80923
17,2001,1,Tennessee,residential,NaN,6.11,282.82636,4629.24696
18,2001,1,Texas,all sectors,NaN,6.90,1903.81241,27583.76887
19,2001,1,Texas,commercial,NaN,7.65,537.65515,7026.81769
20,2001,1,Texas,industrial,NaN,5.12,407.75797,7969.00543
21,2001,1,Texas,other,NaN,6.97,80.10439,1149.37586
22,2001,1,Texas,residential,NaN,7.68,878.29490,11438.56990
23,2001,1,Utah,all sectors,NaN,4.67,95.25759,2039.95489
24,2001,1,Utah,commercial,NaN,4.88,32.43397,664.16908
25,2001,1,Utah,industrial,NaN,3.31,23.92237,723.16958
26,2001,1,Utah,other,NaN,4.15,2.84782,68.59977
27,2001,1,Utah,residential,NaN,6.17,36.05342,584.01646
28,2001,1,Vermont,all sectors,NaN,10.95,57.13107,521.78491
29,2001,1,Vermont,commercial,NaN,11.24,18.95190,168.65645
30,2001,1,Vermont,industrial,NaN,8.24,11.60470,140.85795
31,2001,1,Vermont,other,NaN,15.33,0.56158,3.66406
32,2001,1,Vermont,residential,NaN,12.47,26.01289,208.60644
33,2001,1,Virginia,all sectors,NaN,5.86,561.38052,9575.83865
34,2001,1,Virginia,commercial,NaN,5.56,141.34424,2542.30495
35,2001,1,Virginia,industrial,NaN,4.23,68.62561,1622.86999
36,2001,1,Virginia,other,NaN,4.75,42.58045,896.63378
37,2001,1,Virginia,residential,NaN,6.84,308.83021,4514.02993
38,2001,1,Washington,all sectors,NaN,4.79,440.50524,9204.63376
39,2001,1,Washington,commercial,NaN,4.95,109.69319,2215.59752
40,2001,1,Washington,industrial,NaN,4.46,119.88695,2688.58893
41,2001,1,Washington,other,NaN,4.31,14.31519,332.31713
42,2001,1,Washington,residential,NaN,4.95,196.60991,3968.13018
43,2001,1,West Virginia,all sectors,NaN,4.98,148.07544,2973.23837
44,2001,1,West Virginia,commercial,NaN,5.26,34.39082,653.58717
45,2001,1,West Virginia,industrial,NaN,3.58,36.11658,1008.01762
46,2001,1,West Virginia,other,NaN,9.16,0.66458,7.25289
47,2001,1,West Virginia,residential,NaN,5.90,76.90346,1304.38068
48,2001,1,Wisconsin,all sectors,NaN,5.90,335.56099,5689.51118
49,2001,1,Wisconsin,commercial,NaN,6.08,93.90135,1545.63479

In [ ]:
print(df.isnull().sum()) # columns with null values
df[df['customers'].notnull()] # rows where 'customer' is not null

year                    0
month                   0
stateDescription        0
sectorName              0
customers           26040
price                   0
revenue                 0
sales                   0
dtype: int64

,year,month,stateDescription,sectorName,customers,price,revenue,sales
26040,2008,1,Washington,all sectors,3145488.0,6.64,574.73235,8658.35972
26041,2008,1,Rhode Island,transportation,0.0,0.00,0.00000,0.00000
26042,2008,1,South Carolina,transportation,0.0,0.00,0.00000,0.00000
26043,2008,1,Massachusetts,industrial,14142.0,13.18,100.40468,761.89017
26044,2008,1,Massachusetts,residential,2611383.0,16.81,315.43624,1876.02831
...,...,...,...,...,...,...,...,...
85865,2024,1,Arkansas,all sectors,1717720.0,9.63,442.98773,4598.63147
85866,2024,1,Arkansas,commercial,208669.0,10.26,97.79467,953.02154
85867,2024,1,Arkansas,industrial,34951.0,7.08,109.92656,1553.02838
85868,2024,1,Arkansas,residential,1474098.0,11.24,235.26399,2092.56172
85869,2024,1,Arkansas,transportation,2.0,12.70,0.00252,0.01984